        @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
        /*header css.....................................*/
        
        .header {
            display: flex;
            box-shadow: 1px 1px 4px 0px #00000061;
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: #fff;
        }
        
        .navbar1 {
            display: flex;
            text-align: center;
        }
        
        .logo img {
            height: 56px;
            width: 203px;
        }
        
        .search {
            margin-top: 17px;
        }
        
        .search input {
            height: 30px;
            width: 329px;
            text-transform: capitalize;
            font: icon;
            margin-left: 12px;
            border: 1px solid rgb(255, 0, 183);
        }
        
        .search button {
            margin-left: 10px;
            padding: 9px 19px;
            border: none;
            border-radius: 5px;
            text-transform: capitalize;
            color: white;
            font: icon;
            background-color: rgb(255, 0, 183);
        }
        
        .navbar2 {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
        
        .menu ul li {
            text-decoration: none;
            display: inline-block;
            padding-left: 23px;
            text-transform: capitalize;
            font: caption;
        }
        
        .menu .active {
            border-bottom: 2px solid rgb(255, 0, 183);
        }
        
        .dropdown-button {
            font-size: 17px;
            margin-left: 45px;
            color: #000000c7;
            font-weight: 500;
        }
        
        .dropdown-contaner {
            position: relative;
        }
        
        .dropdown-contaner .droplist {
            visibility: hidden;
            opacity: -1;
            transition: all ease .5s;
            position: absolute;
            top: 30px;
            list-style: none;
            background-color: white;
            width: 146px;
            color: black;
            border-radius: 4px;
            box-shadow: 0px 0px 2px 0px #00000080;
        }
        
        .droplist li {
            padding: 7px;
        }
        
        .droplist li:hover {
            color: rgb(255, 0, 183);
        }
        
        .dropdown-contaner:hover .droplist {
            visibility: visible;
            opacity: 1;
            transition: all ease 0.5s;
        }
        
        .carticon {
            padding-left: 20px;
            font-size: 18px;
            color: rgb(255, 0, 183);
            cursor: pointer;
            position: relative;
        }
        
        .carticon sup {
            position: absolute;
            top: 8px;
            left: 39px;
            border: 2px solid rgb(255, 0, 183);
            border-radius: 96%;
            background-color: rgb(255, 0, 183);
            color: white;
            width: 16px;
            height: 17px;
            font-size: 15px;
            text-align: center;
            font-weight: 700;
            font-family: sans-serif;
        }
        
        .loginbtn {
            padding-left: 20px;
            font-size: 18px;
        }
        
        .darkmode {
            padding-left: 20px;
            font-size: 18px;
            color: rgb(255, 0, 183);
        }
        
        .loginbtn button {
            background-color: rgb(255, 0, 183);
            border: none;
            padding: 9px 14px 9px 13px;
            font-size: 14px;
            text-transform: capitalize;
            color: white;
            border-radius: 7px;
            cursor: pointer;
        }
        
        .loginbtn button:hover {
            background-color: red;
        }
        /*slider css......................*/
        
        .slider {
            height: 85vh;
            margin-top: 1rem !important;
        }
        
        .carousel .thumbs {
            display: none;
        }
        /*collection box css...........................*/
        
        .collection-heading {
            text-align: center;
        }
        
        .collection-heading h1 {
            text-transform: uppercase;
        }
        
        .collection-bx {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
        .imgcollection {
            margin: 10px;
        }
        
        .imgcollection img {
            height: 443px;
            width: 457px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .imgcollection img:hover {
            transform: scale(1.05);
            transition: all ease 0.6s;
        }
        /*themes css........................................*/
        
        .themes-heading {
            text-align: center;
            text-transform: uppercase;
            margin-top: 4%;
        }
        
        .themes-img img {
            height: 443px;
            width: 457px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .themes-img img:hover {
            transform: translateY(-10px);
            transition: all ease 0.6s;
        }
        
        .themes-img {
            margin-top: 3%;
        }
        
        .themes {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        /*bestselling css............................*/
        
        .bestselling-heading h1 {
            text-transform: capitalize;
            font-size: 30px;
            margin-left: 30px;
        }
        
        .bestselling-underline {
            background-color: rgb(255, 0, 183);
            height: 4px;
            width: 91px;
            border-radius: 40px;
            margin: 0px 1px 20px 31px;
        }
        
        .bestselling-box {
            display: flex;
            justify-content: space-evenly;
        }
        
        .bestselling-box a {
            text-decoration: none;
        }
        
        .bestselling-bx {
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            box-shadow: 1px 1px 11px #00000052;
            padding: 15px;
            height: 442px;
            position: relative;
        }
        
        .bestselling-bx img {
            height: 303px;
            width: 212px;
            object-fit: contain;
        }
        
        .bestimg2 {
            position: absolute;
            top: 8px;
            right: 0;
            left: 10px;
            bottom: 0;
            visibility: hidden;
        }
        
        .bestselling-bx:hover .bestimg2 {
            visibility: visible;
            transition: all ease 0.5s;
        }
        
        .bestselling-bx:hover .bestimg1 {
            visibility: hidden;
            opacity: -1;
            transition: all ease 0.5s;
        }
        
        .bestselling-bx h1 {
            font-size: 15px;
            width: 191px;
            color: #000000b5;
        }
        
        .bestselling-bx h4 {
            font-size: 12px;
            text-transform: uppercase;
            color: #0000007d;
        }
        
        .price {
            display: flex;
            align-items: center;
        }
        
        .price h5 {
            text-decoration: line-through;
            color: #0000007d;
        }
        
        .price h3 {
            margin-left: 10px;
            color: #000000b5;
            font: initial;
            font-size: 16px;
            font-family: system-ui;
        }
        /*bestsellingdetail css....................................*/
        
        .bestselling-detail {
            display: flex;
            justify-content: space-around;
            margin-top: 25px;
        }
        
        .bestselling-img {
            display: flex;
        }
        
        .bestselling-img1 img {
            margin-left: 10px;
        }
        
        .bestselling-img2 {
            display: grid;
            align-content: center;
            margin-top: -36%;
        }
        
        .bestselling-img2 img {
            height: 86px;
            width: 63px;
            border-radius: 10px;
            border: 2px solid #0000001c;
            cursor: pointer;
            margin-top: 10px;
        }
        
        .bestselling-img2 img:hover {
            border: 2px solid rgb(255, 0, 183);
        }
        
        .bestselling-detail-title h3 {
            color: #00000063;
            font-weight: 400;
            font-size: 18px;
            margin: 0px;
        }
        
        .bestselling-detail-title-all h1 {
            margin: 0px;
        }
        
        .bestselling-detail-description h3 {
            color: #0000009e;
            margin: 0px;
            font-size: 16px;
        }
        
        .bestselling-detail-description p {
            width: 803px;
            margin: 3px;
        }
        
        .bestselling-detail-tages {
            display: flex;
            align-items: baseline;
            width: 841px;
        }
        
        .bestselling-detail-tages h3 {
            font-size: 16px;
            color: #0000009e;
        }
        
        .bestselling-detail-color {
            display: flex;
            font-size: 16px;
            color: #000000a6;
            align-items: center;
        }
        
        .bestselling-detail-color h3 {
            margin: 0px;
        }
        
        .bestselling-detail-color h4 {
            margin: 0px;
        }
        
        .bestselling-detail-underline {
            background-color: #0000004a;
            height: 1px;
            margin-top: 5%;
        }
        
        .bestselling-detail-price {
            display: flex;
            align-items: baseline;
        }
        
        .bestselling-detail-price h4 {
            text-decoration: line-through;
            color: #0000007a;
            font-size: 25px;
        }
        
        .bestselling-detail-price h5 {
            font-size: 25px;
            margin-left: 7px;
            color: #000000c2;
        }
        
        .bestselling-detail-price h5 sup {
            color: #00000085;
            font-size: 14px;
            margin-left: 5px;
            font-weight: 400;
        }
        
        .pincode {
            display: flex;
        }
        
        .pincode input {
            padding: 0px 0px 0px 0px;
            border-radius: 33px;
            font-size: 13px;
            text-transform: capitalize;
        }
        
        .pincode button {
            height: 37px;
            width: 72px;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 700;
            color: white;
            cursor: pointer;
            border: none;
            background-color: rgb(255, 0, 183);
            margin-left: 7px;
        }
        
        .cart-buy-btn {
            display: flex;
        }
        
        .cart-buy-btn button {
            height: 37px;
            width: 90px;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 700;
            color: white;
            cursor: pointer;
            border: none;
            background-color: rgb(255, 0, 183);
            margin-left: 7px;
            margin-top: 10px;
        }
        /*service css.................................*/
        
        .service-bx {
            border: 1px solid black;
            width: 453px;
        }
        
        .service-bx h3 {
            color: rgb(255, 0, 183);
        }
        
        .service-bx h5 {
            font-size: 17px;
            color: #000000b5;
            margin: 5px;
        }
        
        .service-bx p {
            color: #0000007d;
        }
        
        .service {
            display: flex;
            justify-content: space-around;
            margin-top: 10%;
            text-align: center;
        }
        
        .scroll-top {
            text-align: end;
            margin-top: 15px;
        }
        
        .scroll-top button {
            background-color: rgb(255, 0, 183);
            color: white;
            border: none;
            margin-right: 19px;
            font-size: 24px;
            border-radius: 5px;
        }
        
        html {
            scroll-behavior: smooth !important;
            transition: all 0.9s;
        }
        
        .whatsapp h1 i {
            position: fixed;
            top: 80vh;
            right: 44px;
            color: white;
            border: 2px solid #25d366;
            padding: 11px;
            border-radius: 50%;
            background-color: #25d366;
            box-shadow: 1px 1px 3px 1px #00000061;
        }
        /*footer css........................*/
        
        .logo {
            width: 212px;
            color: #00000091;
        }
        
        .pay img {
            width: 100%;
            max-width: 74%;
            margin-top: 2rem;
        }
        
        .footer {
            display: flex;
            align-items: baseline;
            background-color: #80808040;
            margin-top: 10%;
            height: 317px;
        }
        
        .footer-bx {
            width: 499px;
            margin-left: 7%;
            text-align: justify;
        }
        
        .footer-bx h1 {
            font-size: 21px;
            font-family: serif;
            color: #00000091;
            margin-left: 37px;
        }
        
        .footer-bx ul li {
            list-style: none;
            color: #00000091;
            cursor: pointer;
        }
        
        .footer-bx ul a {
            text-decoration: none;
        }
        
        .footer-bx ul :hover {
            color: rgb(255, 0, 183);
        }
        /*caps products css.......................................*/
        
        .caps {
            display: flex;
            justify-content: space-around;
        }
        
        .filter-heading {
            display: flex;
            align-items: center;
        }
        
        .filter-heading h1 {
            text-transform: capitalize;
        }
        
        .filter-heading h2 {
            margin-left: 55%;
            font-size: 34px;
            color: #ff8900fc;
        }
        
        .filter-underline {
            background-color: #000000c2;
            height: 2px;
            width: 286px;
        }
        
        .filter-theme {
            margin-left: 10%;
            text-transform: capitalize;
        }
        
        .checkbox {
            margin-left: 10%;
            font-size: 17px;
            margin: 10px;
        }
        
        .caps-product-heading {
            text-align: center;
        }
        
        .caps-product-heading p {
            width: 1018px;
            font-size: 14px;
            text-align: justify;
            font-weight: 500;
        }
        
        .caps-product {
            position: relative;
        }
        
        .caps-product img {
            height: 244px;
            width: 183px;
            object-fit: contain;
        }
        
        .capimg2 {
            position: absolute;
            top: 8px;
            right: 0px;
            left: 10px;
            bottom: 0px;
            visibility: hidden;
        }
        
        .caps-product:hover .capimg2 {
            visibility: visible;
            transition: all ease 0.5s;
        }
        
        .caps-product:hover .capimg1 {
            visibility: hidden;
            opacity: -1;
            transition: all ease 0.5s;
        }
        
        .caps-product {
            width: 191px;
            box-shadow: 0px -1px 8px #00000030;
            margin-top: 22px;
            padding: 10px;
            cursor: pointer;
        }
        
        .caps-products {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 1018px;
        }
        
        .caps-products a {
            text-decoration: none;
        }
        
        .caps-product h6 {
            color: #00000091;
            font-size: 12px;
            margin: 0px;
        }
        
        .caps-product h1 {
            font-size: 15px;
            margin: 0px;
        }
        
        .price-color {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .color h4 {
            color: #00000091;
        }
        
        .caps-price {
            display: flex;
            align-items: center;
        }
        
        .caps-price h4 {
            text-decoration: line-through;
            color: #00000091;
        }
        
        .caps-price h5 {
            font-size: 17px;
            margin-left: 8px;
        }
        
        .size {
            border: 1px solid black;
            width: 18px;
            text-align: center;
        }
        
        .size h6 {
            font-size: 15px;
        }
        /*capsproductdetail css..................................*/
        
        .details {
            display: flex;
            justify-content: space-around;
            margin-top: 25px;
        }
        
        .product-img {
            display: flex;
        }
        
        .product-img1 img {
            margin-left: 10px;
        }
        
        .product-img2 {
            display: grid;
            align-content: center;
            margin-top: -36%;
        }
        
        .product-img2 img {
            height: 86px;
            width: 63px;
            border-radius: 10px;
            border: 2px solid #0000001c;
            cursor: pointer;
            margin-top: 10px;
        }
        
        .product-img2 img:hover {
            border: 2px solid rgb(255, 0, 183);
        }
        
        .detail-title h3 {
            color: #00000063;
            font-weight: 400;
            font-size: 18px;
            margin: 0px;
        }
        
        .detail-title-all h1 {
            margin: 0px;
        }
        
        .detail-description h3 {
            color: #0000009e;
            margin: 0px;
            font-size: 16px;
        }
        
        .detail-description p {
            width: 803px;
            margin: 3px;
        }
        
        .detail-tages {
            display: flex;
            align-items: baseline;
            width: 841px;
        }
        
        .detail-tages h3 {
            font-size: 16px;
            color: #0000009e;
        }
        
        .detail-color {
            display: flex;
            font-size: 16px;
            color: #000000a6;
            align-items: center;
        }
        
        .detail-color h3 {
            margin: 0px;
        }
        
        .detail-color h4 {
            margin: 0px;
        }
        
        .detail-underline {
            background-color: #0000004a;
            height: 1px;
            margin-top: 5%;
        }
        
        .detail-price {
            display: flex;
            align-items: baseline;
        }
        
        .detail-price h4 {
            text-decoration: line-through;
            color: #0000007a;
            font-size: 25px;
        }
        
        .detail-price h5 {
            font-size: 25px;
            margin-left: 7px;
            color: #000000c2;
        }
        
        .detail-price h5 sup {
            color: #00000085;
            font-size: 14px;
            margin-left: 5px;
            font-weight: 400;
        }
        /*hoodies products css............*/
        
        .hoodies {
            display: flex;
            justify-content: space-around;
        }
        
        .hoodies-heading {
            text-align: center;
        }
        
        .hoodies-heading p {
            width: 1018px;
            font-size: 14px;
            text-align: justify;
            font-weight: 500;
        }
        
        .hoodies-products {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 1018px;
        }
        
        .hoodies-products a {
            text-decoration: none;
        }
        
        .hoodies-product {
            width: 191px;
            box-shadow: 0px -1px 8px #00000030;
            margin-top: 22px;
            padding: 10px;
            cursor: pointer;
        }
        
        .hoodies-product {
            position: relative;
        }
        
        .hoodies-product img {
            height: 244px;
            width: 183px;
            object-fit: contain;
        }
        
        .hoodieimg2 {
            position: absolute;
            top: 8px;
            right: 0px;
            left: 10px;
            bottom: 0px;
            visibility: hidden;
        }
        
        .hoodies-product:hover .hoodieimg2 {
            visibility: visible;
            transition: all ease 0.5s;
        }
        
        .hoodies-product:hover .hoodieimg1 {
            visibility: hidden;
            opacity: -1;
            transition: all ease 0.5s;
        }
        
        .hoodies-product h6 {
            color: #00000091;
            font-size: 12px;
            margin: 0px;
        }
        
        .hoodies-product h1 {
            font-size: 15px;
            margin: 0px;
            color: black;
        }
        
        .hoodies-price {
            display: flex;
            align-items: center;
        }
        
        .hoodies-price h4 {
            text-decoration: line-through;
            color: #00000091;
        }
        
        .hoodies-price h5 {
            font-size: 17px;
            margin-left: 8px;
        }
        /*mugs product css...................................*/
        
        .mugs {
            display: flex;
            justify-content: space-around;
        }
        
        .mugs-heading {
            text-align: center;
        }
        
        .mugs-heading p {
            width: 1018px;
            font-size: 14px;
            text-align: justify;
            font-weight: 500;
        }
        
        .mugs-products {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 1018px;
        }
        
        .mugs-products a {
            text-decoration: none;
        }
        
        .mugs-product {
            width: 191px;
            box-shadow: 0px -1px 8px #00000030;
            margin-top: 22px;
            padding: 10px;
            cursor: pointer;
            position: relative;
        }
        
        .mugs-product img {
            height: 244px;
            width: 183px;
            object-fit: contain;
        }
        
        .mugsimg2 {
            position: absolute;
            top: 8px;
            right: 0px;
            left: 10px;
            bottom: 0px;
            visibility: hidden;
        }
        
        .mugs-product:hover .mugsimg2 {
            visibility: visible;
            transition: all ease 0.5s;
        }
        
        .mugs-product:hover .mugsimg1 {
            visibility: hidden;
            opacity: -1;
            transition: all ease 0.5s;
        }
        
        .mugs-product h6 {
            color: #00000091;
            font-size: 12px;
            margin: 0px;
        }
        
        .mugs-product h1 {
            font-size: 15px;
            margin: 0px;
            color: black;
        }
        
        .mugs-price {
            display: flex;
            align-items: center;
        }
        
        .mugs-price h4 {
            text-decoration: line-through;
            color: #00000091;
        }
        
        .mugs-price h5 {
            font-size: 17px;
            margin-left: 8px;
        }
        
        .mugs-size {
            border: 1px solid black;
            width: 83px;
            text-align: center;
        }
        /*contact us css........................*/
        
        .contact-title-img img {
            height: 148px;
            width: 196px;
        }
        
        .contact-title-img h1 {
            padding-top: 55px;
        }
        
        .contactus {
            text-align: center;
            background-color: #806c6c12;
            margin: -16px 75px;
            box-shadow: 0px 1px 9px #00000033;
        }
        
        .address-contact {
            display: flex;
            justify-content: space-around;
        }
        
        .address ul li {
            list-style: none;
            text-align: justify;
        }
        
        .address h2 {
            margin: 32px 0px -12px -7px;
            font-size: 23px;
        }
        
        .contact ul li {
            list-style: none;
            text-align: justify;
            margin-left: 53px;
        }
        
        .contact h2 {
            margin: 26px 0px -17px -6px;
            font-size: 23px;
        }
        /*about us css............................*/
        
        .codewear {
            text-align: center;
            padding-top: 6%;
        }
        
        .codewear img {
            height: 154px;
            width: 166px;
            border-radius: 50%;
            box-shadow: 1px 0px 14px 3px #a52a2a54;
            padding-top: 20px;
        }
        
        .codewear h1 {
            font-size: 33px;
            font-family: cursive;
        }
        
        .about-title-all {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -50px;
        }
        
        .about-title-all h5 {
            font-size: 24px;
            font-family: cursive;
        }
        
        .about-title-all h4 {
            color: rgb(255, 0, 183);
            margin-left: 9px;
            font-size: 26px;
        }
        
        .codewear p {
            padding: 0px 255px;
            line-height: 24px;
        }
        
        .codewear button {
            padding: 14px 22px 14px 22px;
            background-color: rgb(255, 0, 183);
            color: white;
            font-size: 17px;
            font-weight: 600;
            text-transform: capitalize;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .codewear button:hover {
            background-color: red;
        }
        
        .about-underline {
            background-color: #0000001f;
            height: 1px;
            width: auto;
            margin: 61px
        }
        
        .about-codeswear {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .about-codeswear-text {
            width: 916px;
        }
        
        .about-codeswear-text p {
            color: #000000ba;
        }
        
        .about-codeswear-text h2 {
            text-transform: capitalize;
            font-size: 35px;
            margin-bottom: -8px;
            font-family: cursive;
            color: #000000db;
        }
        
        .about-codeswear-img img {
            height: 324px;
            width: 449px;
        }
        
        .testimonial-heading {
            text-align: center;
        }
        
        .testimonial-box {
            display: flex;
            justify-content: space-around;
        }
        
        .testimonial-bx {
            width: 671px;
            background-color: #80808014;
            padding: 30px;
        }
        
        .testimonial-bx h3 {
            color: gray;
            font-size: 30px;
            margin: 0px;
        }
        
        .testimonial-bx p {
            color: #000000ba;
        }
        
        .customer h2 {
            font-size: 21px;
            margin: 0px;
            font-weight: 500;
        }
        
        .customer h4 {
            font-size: 15px;
            margin: 0px;
            color: #000000ba;
            font-weight: 400;
        }
        /*login css .............................*/
        
        .login-box {
            display: inline-grid;
            flex-direction: revert;
            justify-items: center;
            margin-left: 3%;
            margin-top: -8%;
        }
        
        .login-box img {
            height: 105px;
            width: 140px;
        }
        
        .login-box input {
            text-transform: capitalize;
            font-size: 13px;
            height: 36px;
            width: 359px;
        }
        
        .login-box button {
            margin-top: 20px;
            height: 36px;
            width: 359px;
            color: white;
            text-transform: capitalize;
            background-color: rgb(255, 0, 183);
            border: none;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
        }
        /*email login css..................................*/
        
        .email-login-head img {
            height: 123px;
            width: 165px;
            margin-left: -6%;
        }
        
        .email-login-head {
            margin-left: 14%;
        }
        
        .email-login {
            display: grid;
            flex-direction: row;
            margin-top: 9%;
            margin-left: 40%;
        }
        
        .email-login form {
            display: grid;
        }
        
        .email-login form input {
            height: 26px;
            width: 354px;
            border-radius: 5px;
            border: 2px solid rgb(255, 0, 183);
        }
        
        .email-login button {
            margin-top: 20px;
            height: 36px;
            width: 359px;
            color: white;
            text-transform: capitalize;
            background-color: rgb(255, 0, 183);
            border: none;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
        }
        
        .email-login h2 {
            text-transform: capitalize;
        }
        /*facelogin css............................*/
        
        .face-login {
            margin-top: 8rem;
        }
        
        .face-head h1 {
            text-transform: capitalize;
        }
        
        .face-img img {
            height: 198px;
            width: 204px;
        }
        
        .face-btn {
            display: flex;
            justify-content: space-evenly;
        }
        
        .face-btn button {
            height: 42px;
            width: 263px;
            text-transform: capitalize;
            font-size: 20px;
            border-radius: 5px;
            margin: 12px -395px;
            border: none;
            background-color: rgb(255, 0, 183);
            color: white;
            cursor: pointer;
        }
        
        .face-btn button:hover {
            background-color: red;
            transform: translateY(-4px);
            transition: all ease 0.3s;
        }
        /*cart css..................................................*/
        
        .cart-heading {
            text-align: center;
        }
        
        .cart-bx {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }
        
        .cart-bx-img img {
            height: 152px;
            width: 126px;
        }
        
        .cart-bx-title h1 {
            width: 500px;
            font-size: 20px;
        }
        
        .cart-bx-add button {
            background-color: rgb(255, 0, 183);
            border: none;
            border-radius: 5px;
            color: white;
            margin-left: 10px;
        }
        
        .cart-bx-add span {
            margin-left: 10px;
        }
        
        .cart-bx-add {
            display: flex;
        }
        
        .cart-remove {
            text-align: center;
        }
        
        .cart-remove button {
            background-color: rgb(255, 0, 183);
            color: white;
            height: 41px;
            width: 103px;
            border: none;
            font-size: 15px;
            cursor: pointer;
            text-transform: capitalize;
            border-radius: 11px;
        }
        
        .cart-remove button:hover {
            background-color: red;
            transform: translateY(-2px);
            transition: all ease 0.3s;
        }
        
        .cart-total-buy {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: rgb(255, 0, 183);
            position: sticky;
            bottom: 0px;
            z-index: 22;
        }
        
        .cart-total {
            display: flex;
            align-items: center;
        }
        
        .cart-total h2 {
            text-transform: capitalize;
        }
        
        .cart-total h3 {
            margin-left: 9px;
        }
        
        .cart-buy h1 {
            text-decoration: none;
            animation: aa 2s infinite;
            cursor: pointer;
        }
        
        @keyframes aa {
            1% {
                color: red;
            }
            10% {
                color: blue;
            }
            20% {
                color: darkorange;
            }
            30% {
                color: aqua;
            }
            40% {
                color: greenyellow;
            }
            50% {
                color: cornsilk;
            }
            60% {
                color: lawngreen;
            }
            70% {
                color: orange;
            }
            80% {
                color: lightcoral;
            }
            90% {
                color: hotpink;
            }
            100% {
                color: fuchsia;
            }
        }
        /*payment css........................................*/
        
        .qrcode {
            position: relative;
            text-align: center;
        }
        
        .qrcode canvas {
            position: absolute;
            top: 220px;
            left: 608px;
            right: 0px;
            bottom: 0px;
            height: 252px !important;
            width: 260px !important;
        }
        
        a {
            text-decoration: none;
        }
        
        img {
            cursor: pointer;
        }
        
        li {
            cursor: pointer;
        }
        
        button {
            cursor: pointer;
        }
        /*customerdetail css............................*/
        
        .customer-details-heading {
            text-align: center;
            text-transform: capitalize;
        }
        
        .customer-detail h1 {
            text-transform: capitalize;
            margin-left: 18%;
        }
        
        .input {
            display: grid;
        }
        
        .input label {
            margin-left: 22%;
            text-transform: capitalize;
            font-weight: 700;
        }
        
        .input input {
            margin-left: 22%;
            height: 28px;
            width: 653px;
            font-weight: 400;
            font-size: 15px;
            text-transform: capitalize;
            border-radius: 5px;
            border: 2px solid rgb(255, 0, 183);
        }
        
        .input select {
            margin-left: 22%;
            height: 34px;
            width: 660px;
            font-weight: 400;
            font-size: 15px;
            text-transform: capitalize;
            border-radius: 5px;
            background-color: rgb(255, 0, 183);
            border: 2px solid rgb(255, 0, 183);
        }
        
        .customer-address h1 {
            margin-left: 18%;
            text-transform: capitalize;
        }
        
        .payment-method h1 {
            margin-left: 18%;
            text-transform: capitalize;
        }
        
        .checkbox {
            margin-left: 22%;
        }
        
        .checkbox label {
            text-transform: capitalize;
        }
        
        .payment {
            text-align: center;
        }
        
        .payment button {
            height: 37px;
            width: 300px;
            border: none;
            font-size: 20px;
            text-transform: capitalize;
            border-radius: 7px;
            background-color: rgb(255, 0, 183);
            color: white;
            cursor: pointer;
        }
        
        .payment button:hover {
            background-color: red;
            transform: translateY(-4px);
            transition: all ease 0.5s;
        }
        
        .pincode-reader {
            display: grid;
        }
        
        .pincode-reader label {
            margin-left: 22%;
            text-transform: capitalize;
            font-weight: 700;
        }
        
        .pincode-reader input {
            margin-left: 22%;
            height: 28px;
            width: 653px;
            font-weight: 400;
            font-size: 15px;
            text-transform: capitalize;
            border-radius: 5px;
            border: 2px solid rgb(255, 0, 183);
        }
        
        .pincode-output {
            display: grid;
        }
        
        .pincode-output label {
            margin-left: 22%;
            text-transform: capitalize;
            font-weight: 700;
        }
        
        .pincode-output input {
            margin-left: 22%;
            height: 28px;
            width: 653px;
            font-weight: 400;
            font-size: 15px;
            text-transform: capitalize;
            border-radius: 5px;
            border: 2px solid rgb(255, 0, 183);
        }
        /*error page css................................*/
        
        .error {
            text-align: center;
        }
        
        .error h1 i {
            font-size: 129px;
        }
        
        .error h2 {
            font-size: 45px;
            margin-top: -19px;
        }
        
        .error h5 {
            font-size: 22px;
            margin-top: -32px;
        }
        
        .loading {
            color: rgb(255, 0, 183);
            margin-top: 200px;
        }
        
        .loading h1 {
            margin-top: -50px;
        }